<!-- <div class="card ">
<h3>List name</h3>
<div class="card-body">
    <p class="card-text">
        Task1
    </p>
    <p class="card-text">
        Task2
    </p>
    <p class="card-text">
        Task3
    </p>
    <p class="card-text">
        Task4
    </p>
</div>
</div> -->
<div class="task-list-container">
    <div class="card">
        <div class="card-header"></div> 
        <div class="card-body" *ngFor="let i of [1,2,3,4,5]">
      <app-task-item></app-task-item>
      </div>
    </div>
</div>
