<div class="content">
   <div class="task-manager-container" *ngFor="let list of lists; index as i">
    <div class="topbar">
     {{list.title}}
    </div>
    <div class="task-list-container">
     <div class="task">
       <p>Task1</p>
     </div>
     <div class="task">
      <p>Task2</p>
    </div>
    <div class="task">
      <p>Task3</p>
    </div>
    </div>
    <div class="task-manager-footer">
      <div class="list-edits">
      <button><i class="fa fa-trash" aria-hidden="true"></i></button>
      <button><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
      </div>
      <button class="add-task"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
    </div>
   </div>
   <div class="task-manager-container">
    <div class="add-list-container">
      <button class="btn add" data-bs-toggle="modal" data-bs-target="#exampleModal">Add List <i class="fa fa-plus"></i></button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <label class="input-label">Enter List</label>
              <input type="text" class="form-control" placeholder="enter list.." #listName>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">dismiss</button>
              <button type="button" class="btn btn-primary" (click)="createNewList(listName.value)" data-bs-dismiss="modal">Add List</button>
            </div>
          </div>
        </div>
      </div>
     
    </div>
   </div>
 </div>
