<div class="content">

 

   <div class="task-manager-container" *ngFor="let list of lists; let i=index;"> 
    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list"  [cdkDragData]="list" (cdkDropListDropped)="drop($event)">
      <div class="task-manager-container" cdkDrag>  
    <div class="topbar"  [routerLink]="['/lists',list._id]">
      {{list.title}}
    </div>
    <div class="task-list-container">
      <div  class="task" *ngFor="let task of list.taskList,let j=index" [routerLink]="['/lists',list._id,'tasks',task._id]">
        <div class="task-container">
      <p>{{task.title}}</p> <!--//<div *ngIf="task.length>0 && list._id === task._listId " -->
     <button (click)="deleteTask(task._id)"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
      </div>
      
    </div>
    <div class="task-manager-footer"  [routerLink]="['/lists',list._id]">
      <div class="list-edits">
        <button  data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fa fa-trash" aria-hidden="true"></i></button>
        <button  data-bs-toggle="modal" data-bs-target="#editListModal" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
      </div>
      <div class="add-task">
        <a  data-bs-toggle="modal"  data-bs-target="#addTaskModal"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
    </div>
  </div>
  
  </div>
   </div>
  </div>

   <div class="task-manager-container">
    <div class="add-list-container">
      <button class="btn add" data-bs-toggle="modal" data-bs-target="#addListModal">Add List <i class="fa fa-plus"></i></button>
      <div class="modal fade" id="addListModal" tabindex="-1" aria-labelledby="addListModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <label class="input-label">Enter List</label>
              <input type="text" class="form-control" placeholder="enter list.." #listName>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">dismiss</button>
              <button type="button" class="btn btn-primary" (click)="createNewList(listName.value)" data-bs-dismiss="modal">Add List</button>
            </div>
          </div>
        </div>
      </div> 
    </div>
   </div>

 </div>
 <div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <label class="input-label">Enter Task</label>
        <input type="text" class="form-control" placeholder="enter Task.." #taskName>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">dismiss</button>
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="addTask(taskName.value)">Add Task</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-body">
       <label>Delete List</label>
       <!-- <input type="text" class="form-control" placeholder="" > -->
     </div>
     <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">dismiss</button>
       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="deleteList()">delete</button>
     </div>
   </div>
 </div>
</div>
<div class="modal fade" id="editListModal" tabindex="-1" aria-labelledby="editListModalLabel" aria-hidden="true">
  <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-body">
       <label>Edit List</label>
       <input type="text" class="form-control" placeholder="" #updatedValue >
     </div>
     <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">dismiss</button>
       <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateList(updatedValue.value)">Update</button>
     </div>
   </div>
 </div>
</div>